.uwdgh-sws-course-list {
  padding: 0;
  margin: 0;
  margin-block-end: 1em;
}
.uwdgh-sws-course-list-header {
  margin-bottom: 0;
  border-width: 5px 0;
  border-style: solid;
  padding: 0 0.5em;
  border-color: transparent;
  background-color: initial;
}
.uwdgh-sws-course-list-header--tan {
  border-color: #e8e3d3;
  background-color: #e8e3d3;
}
.uwdgh-sws-course-list-header--winter {
  border-color: #99ccff;
  background-color: #99ccff;
}
.uwdgh-sws-course-list-header--spring {
  border-color: #ccffcc;
  background-color: #ccffcc;
}
.uwdgh-sws-course-list-header--summer {
  border-color: #fcf990;
  background-color: #fcf990;
}
.uwdgh-sws-course-list-header--autumn {
  border-color: #ffcccc;
  background-color: #ffcccc;
}
.uwdgh-sws-course-list-toggle-wrapper {
  text-align: right;
  float: right;
  padding: 0 0.5em;
  display: inline-block;
}
a[data-uwdgh-sws-course-list-toggle] {
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}
a[data-uwdgh-sws-course-list-toggle]:hover,
a[data-uwdgh-sws-course-list-toggle]:focus  {
  text-decoration: none;
}
a[data-uwdgh-sws-course-list-toggle]::before {
  content: "\002B";
  margin-right: 5px;
}
a[data-uwdgh-sws-course-list-toggle].opened::before {
  content: "\2212";
  margin-right: 5px;
}
.uwdgh-sws-course-list-content,
.uwdgh-sws-course-list-filter  {
  border: 1px solid #eee;
}
.uwdgh-sws-course-list-content {
  padding: 0.5em 1em;
}
.uwdgh-sws-course-list-filter {
  padding: 0 0.5em;
}
.uwdgh-sws-course-list-filter__label {
  display: inline-block !important;
  cursor: pointer;
  font-weight: normal;
  margin: 5px;
}
.uwdgh-sws-course-list-filter__label > input[type=radio] {
  margin-right: 0.25em;
}
.uwdgh-sws-course-list-filter__label:hover,
.uwdgh-sws-course-list-filter__label:focus {
  text-decoration: underline;
}
.uwdgh-sws-course-list-link {
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .uwdgh-sws-course-list-link {
    text-align: right;
  }
}
.uwdgh-sws-course-list summary {
  cursor: pointer;
  background-color: #eee;
}
.uwdgh-sws-course-list summary:hover,
.uwdgh-sws-course-list summary:focus {
  background-color: #ddd;
}

.uwdgh-sws-course-list details[open] summary ~ * {
  animation: drop .3s ease-in-out;
}
@keyframes drop {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}
.uwdgh-sws-course-list-content details {
  margin-bottom: 1em;
}
.uwdgh-sws-course-list-content details > summary {
  background-color: transparent;
}
.uwdgh-sws-course-list-content details > summary:hover,
.uwdgh-sws-course-list-content details > summary:focus {
  background-color: transparent;
  text-decoration: underline;
}

.uwdgh-sws-course-list-content table {
  position: relative;
  border-collapse: collapse;
  border: none;
  margin: 0;
}
.uwdgh-sws-course-list-content table th,
.uwdgh-sws-course-list-content table td {
  display: table-cell;
  vertical-align: initial;
  padding: 0.125em;
}
.uwdgh-sws-course-list-content table thead {
  background-color: #757575;
  color: #fff;
  font-size: 16px;
}
.uwdgh-sws-course-list-content table tbody,
.uwdgh-sws-course-list-content table tbody p {
  font-size: 14px;
}
@media screen and (max-width: 399px) {
  .uwdgh-sws-course-list-content table thead tr th:nth-last-child(-n+2),
  .uwdgh-sws-course-list-content table tbody tr td:nth-last-child(-n+2) {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .uwdgh-sws-course-list-content table thead tr th:last-child,
  .uwdgh-sws-course-list-content table tbody tr td:last-child {
    display: none;
  }
}

.uwdgh-sws-course-list footer {
  background-color: #eee;
  padding: .25em 1em;
}

a.uwdgh-sws-external {
  background-image: url(../assets/svg/external-ltr.svg);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 1em;
  background-size: 1em;
}
